<% if @category.errors.any? %>
<h2>The following messages prevented the category to be saved </h2>
<ul>
<% @category.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
<% end %>
</ul>
<% end %>
